/*Resposive Media query*/
@media (max-width:2000px) {
    .navbar .max-width .menu-btn {
        display: none;
        z-index: 999;
    }
}
@media (max-width: 1920px) {
   
    .home .home-content .btn {
        font-size: clamp(0.75rem, 0.5739rem 
        + 0.5634vw, 1.25rem);
    }
}
@media (max-width: 1104px) {
    .about .about-content .left-content img {
        height: 350px;
        width: 350px;
    }
    .goal .goal-content .right img {
        width: 350px;
        transition: all 0.5s ease-in-out;
    }
}
@media (max-width: 1250px) {
    .navbar .max-width {
        padding: 10px 100px;
    }
    .home .home-content {
        column-gap: 50px;
    }
    .home .home-content .left-content .btn {
        font-size: 17px;
    }
    .goal .goal-content .right-content img {
        width: 350px;
    }
    
    .home .home-content,
    .goal .goal-content,
    .about .about-content,
    .services .services-content,
    .skills .skills-content,
    .contact .contact-content {
        padding: 0 70px;
        max-width: 1100px;
    }
    .services .services-content {
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 947px) {

    .navbar .max-width .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: absolute;
        height: 80vh;
        width: 50%;
        right: -100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.763);
        text-align: center;
        padding-top: 150px;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 80px;
        z-index: 4;
    }
    .navbar .menu.active {
        right: 0;
    }
    .navbar .menu .li a:hover::after {
        
    }
    .navbar .menu .li  {
    }   
    .home {
        height: 1050px;
    }
    .home .home-content .left-content {
        text-align: center;
    }
    .home .home-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin: 300px auto 100px auto;
    }
    .home .home-content .left-content .btn {
        padding: 10px 25px;
    }
    .wrapper {
        height: 800px;
    }
    .wrapper::after {
        z-index: -1;
    }
    .wrapper .content {
        width: 500px;
        z-index: 0;
    }
    .wrapper .content .head {
        font-size: 22px;
    }
    .wrapper .content .head,
    .wrapper .content .list {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .wrapper .content .list {
        align-items: center;
    }
    .wrapper .content .list .card {
        width: 100%;
        padding: 12px 40px;
    }
    .wrapper .content .list .card div {
        text-align: center;
    }
    .navbar .max-width,
    .home .home-content,
    .about .about-content,
    .goal .goal-content,
    .services .services-content,
    .skills .skills-content,
    .contact .contact-content {
        max-width: 930px;
    }
    .about .about-content {
        display: flex;
        flex-direction: column;
    }
    .about .about-content .left-content,
    .about .about-content .right-content {
        width: 100%;
        margin-bottom: 20px;
    }
    .about .about-content .left-content {
        display: flex;
        justify-content: center;
    }
    
    .about .about-content .right-content p,
    .about .about-content .right-content .title {
        margin: 15px auto;
        text-align: center;
        text-align: justify;
    }
    .about .about-content .right-content .title {
        text-align: center;
    }
    .goal .goal-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .goal .goal-content .left,
    .goal .goal-content .right {
        width: 100%;
    }
    .services .services-content {
        flex-direction: column;
        gap: 15px;
    }
    .services .services-content .content {
        width: calc(100% - 20px);
        height: auto;
    }
    .skills .skills-content {
        flex-direction: column;
    }
    .services .services-content .content .card p {
        display: flex;
    }
    .skills .skills-content .left-content,
    .skills .skills-content .right-content,
    .content .contact-content .left-content,
    .content .contact-content .right-content {
        width: 100%;
    }
    .contact .contact-content {
        flex-direction: column;
    }
    .contact .contact-content .left-content,
    .contact .contact-content .right-content {
        width: 100%;
    }
}
@media (max-width: 690px) {
    .home .home-content,
    .wrapper,
    .wrapper .content,
    .about .about-content,
    .goal .goal-content,
    .services .services-content,
    .skills .skills-content,
    .contact .contact-content {
        padding:  0 23px;
    }
    .navbar .max-width {
        padding: 20px 25px;
    }
    .home {
        height: 975px;
    }
    .home .home-content .right-content img {
        width: 400px;
    }
    
    .wrapper .content .head {
        font-size: 21px;
        height: 62px;
    }
    .wrapper .content .head .line {
        margin-top: 2px;
        height: 2px;
    }
    
}
@media (max-width: 550px) {
    .navbar .menu {
        width: 100%;
        border-bottom-left-radius: 0px;
        transition: all 0.2s ease-in-out;
        position: absolute;
    }
    .navbar .menu li a:hover::after {
        width: 100%;
    }
    .home {
        height: 923px;
    }
    .home .home-content .right-content img {
        width: 350px;
    }
    .wrapper .content {
     width: 430px;
    }
    .wrapper .content .head {
        font-size: 18px;
        padding: 10px;
    }
    .wrapper .content .head .line {
        height: 2px;
        margin-top: 3px;
    }
    .contact .contact-content form .fields {
        flex-direction: column;
    }
    .contact .contact-content form .fields .field-name,
    .contact .contact-content form .fields .field-email {
       margin-left: 0;
    }
}
@media (max-width: 472px) {
    .wrapper .content {
        width: 375px;
    }
    .wrapper .content .head {
        height: 70px;
        padding: 0px;
        font-size: 18px;
    }
    .wrapper .content .head .line {
        width: 20%;
    }
    footer p {
        font-size: 13px;
    }
}
@media (max-width: 422px) {
    .home {
        height: 895px;
    }
    .home .home-content .right-content img {
        width: 320px;
    }
    .wrapper .content {
    }
    .wrapper .content .head {
        font-size:  17px;
    }
    .about .about-content .left-content img {
        width: 300px;
    }
    .goal .goal-content .right img {
        width: 300px;
    }
    .contact .contact-content .left-content
    .left-details .details .info p {
        font-size: 14px;
    }
}
@media (max-width: 417px){
    .home {
        height: 824px;
    }
    .wrapper .content {
    }
    .home .home-content .right-content img {
        width: 250px;
    }
}

@media (max-width:300px){
    .about .about-content .left-content img {
        width: 230px;
    }
    .goal .goal-content .right img {
        width: 230px;
    }
}

@media (max-width: 330px ) {
    .about .about-content .left-content img {
        width: 200px;
    }
    .goal .goal-content .right img {
        width: 200px;
    }
    .wrapper {
        height: auto;
    }
    .contact-content .left-content .left-details .details .icon img {
        width: 25px;
    }
    .wrapper .content {
        width: auto;
    }
    .contact .contact-content .left-content
    .left-details .details .info p {
        font-size: 12px;
    }
    
    footer p {
        font-size: 11px;
        text-align: center;
    }
}


